KEY="Insert generated key here"
SECRET="Insert generated secret here"

DB_CLIENT="mysql"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_DATABASE="colotracker"
DB_USER="colotracker"
DB_PASSWORD="eWSV7FpJm8H9*lRL"

PUBLIC_URL="http://localhost:8055"