# Generals 
PUBLIC_URL="http://localhost:8055"
PORT="8055"
HOST="0.0.0.0"
PUBLIC_URL="http://localhost:8055"
CONTENT_SECURITY_POLICY_DIRECTIVES__FRAME_SRC="localhost:3000"

# Security
KEY="insert generated guid here"
SECRET="insert generated guid here"
ACCESS_TOKEN_TTL="15m"
REFRESH_TOKEN_TTL="7d"
REFRESH_TOKEN_COOKIE_SECURE="false"
REFRESH_TOKEN_COOKIE_SAME_SITE="lax"
REFRESH_TOKEN_COOKIE_NAME="directus_refresh_token"
REFRESH_TOKEN_COOKIE_DOMAIN="localhost"
CORS_ENABLED="true"
CORS_ORIGIN="true"
CORS_METHODS="GET,POST,PATCH,DELETE"
CORS_ALLOWED_HEADERS="Content-Type,Authorization"
CORS_EXPOSED_HEADERS="Content-Range"
CORS_CREDENTIALS="true"
CORS_MAX_AGE="18000"
SESSION_COOKIE_DOMAIN="localhost"
SESSION_COOKIE_NAME="directus_session_token"
SESSION_COOKIE_SAME_SITE="lax"
SESSION_COOKIE_SECURE="false"

# Database MYSQL
DB_CLIENT="mysql"
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_DATABASE="insert db name here"
DB_USER="insert db user here"
DB_PASSWORD="insert db pw here"

# Storage
STORAGE_LOCATIONS="local"
STORAGE_ADAPTER="local"
STORAGE_LOCAL_ROOT="./uploads"

# Cache
CACHE_ENABLED="true"
CACHE_STORE="local"
CACHE_LOCAL_ROOT="./cache"
CACHE_TTL="30d"
ASSETS_TRANSFORM_IMAGE_MAX_DIMENSION="4000"
ASSETS_TRANSFORM_IMAGE_QUALITY="80"

# Emails
EMAIL_FROM="no-reply@yourdomain"
EMAIL_TRANSPORT="smtp"
EMAIL_SMTP_HOST="127.0.0.1"
EMAIL_SMTP_PORT="1025"
EMAIL_SMTP_USER=""
EMAIL_SMTP_PASSWORD=""
EMAIL_SMTP_POOL="false" 
EMAIL_SMTP_SECURE="false"
EMAIL_SMTP_IGNORE_TLS="true"















